{{define "footer.html"}}
<footer class="shop-footer">
    <div class="container">
        <a href="https://www.ozon.ru/seller/izdatelstvo-shmel-428801" class="footer-link-btn" target="_blank" rel="noopener">
            <span class="icon">🛍️</span> Купить на OZON
        </a>
        <a href="https://wa.me/79624037100" class="footer-link-btn" target="_blank" rel="noopener">
            <span class="icon">✏️</span> Написать
        </a>
        <a href="tel:+79624037100" class="footer-link-btn">
            <span class="icon">📞</span> Позвонить
        </a>
        <a href="https://t.me/shmell_publish" class="footer-link-btn" target="_blank" rel="noopener">
            <span class="icon">✈️</span> Подписаться в Telegram
        </a>
        <a href="https://instagram.com/shmell_publish/" class="footer-link-btn" target="_blank" rel="noopener">
            <span class="icon">📷</span> Подписаться в Instagram
        </a>
    </div>
</footer>
{{end}}
