{{define "header.html"}}
<nav class="shop-header">
    <div class="container shop-header__content">
        <a class="shop-header__logo" href="/" aria-label="На главную">
            <img src="/image/static/logo_shmell.svg" alt="Шмель">
        </a>

        <div class="shop-header__menu">
            <a class="shop-header__link" href="#corporate">КОРПОРАТИВНЫЕ ИЗДАНИЯ</a>
            <a class="shop-header__link" href="/about">О НАС</a>
            <a class="shop-header__link" href="#contacts">КОНТАКТЫ</a>
            <a class="shop-header__cart" href="/cart" aria-label="Корзина">
                <img src="/image/static/icon_basket.svg" alt="">
            </a>
        </div>
    </div>
</nav>
{{end}}
