<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Издательство «Шмель»</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="style.css" rel="stylesheet">
	
</head>

<body>

<div class="intro">
	Уникальные подарочные фотоальбомы<br> о красотах Ставропольского края 
</div>
<div class="books">
	<a class="book-left" href="gorodnavisote/"></a>
	<div class="hidetext">
		<span>Юбилейный фотоальбом,<br>	посвященный 240-летию города Ставрополь.<br>40 лет спустя!</span>
	</div>
	<a class="book-right" href="45chudes/"></a>
	<div class="hidetext">
		<span>45 чудес Ставрополья —<br>это фотоальбом, путеводитель<br>и занимательная энциклопедия!</span>
	</div>
</div>
<div class="phone">
	<center>
	<p><small>Информация по телефону:</small></p>
		 8 962 403-71-00
	</center>
</div>		

</body>
</html>